body {
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

.classHeader {
    height: 80px;
    background-color: rgba(44, 133, 124, 0.9);
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.todoList  {
    background-color: white;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    padding: 30px;
}

.todoItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px 0;
    width: 70%;
    border-bottom: 1px solid #cecece;
    font-weight: 100;
    font-size: 15px;
    color: #333333;
}

input[type=checkbox]{
    margin-right: 20px;
    font-size: 30px;
}

/* input[type=checkbox]:focus{
    outline: 0;
} */

.classFooter{
    height: 80px;
    background-color: rgba(44, 133, 124, 0.7);
    color: whitesmoke;
    margin-top: 5%;
    margin-bottom: -0;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.classFooter div{
    margin: 0;
    color: black;
}

.classFooter h2{
    margin: 0;
    font-weight: 200;
   font-style: italic;
}

.classFooter p{
    margin: 0;
    font-weight: 100;
}
