body {
    margin: 0;
    background-color: whitesmoke;

}

.classHeader {
    height: 100px;
    background-color: rgb(47, 52, 51);
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todoList  {
    background-color: white;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    padding: 30px;
}

.todoItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px 0;
    width: 70%;
    border-bottom: 1px solid #cecece;
    font-weight: 100;
    font-size: 15px;
    color: #333333;
}

input[type=checkbox]{
    margin-right: 20px;
    font-size: 30px;
}

/* input[type=checkbox]:focus{
    outline: 0;
} */

.classFooter{
    height: 80px;
    background-color: rgba(47, 52, 51, 0.5);
    color: whitesmoke;
    margin-top: 27%;
    margin-bottom: -0;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

